@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=VT323&display=swap');
h1, h2, h3 {
    font-family: 'VT323', monospace;
}
body{
    background-image: url("/sprinkle.png");
    background-size: cover;
    
}

header{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}
aside, footer{
    font-family: 'Ubuntu', sans-serif;
    
}

.left, .right{
    background-color: rgb(223, 179, 233);
    border-radius: 10px;
    border: 10px;
}

.center{
    background-color: rgb(154, 218, 230);
    border-radius: 10px;
}

.donut-button:hover{
    box-shadow: 0 0 20px gray;
    border-radius: 20%;
    opacity: .8;
}
.clicker-button:hover{
    box-shadow: 0 0 20px gray;
    border-radius: 20%;
    opacity: .8;
}
.multiplier-button:hover{
    box-shadow: 0 0 20px gray;
    border-radius: 20%;
    opacity: .8;
}
